bit-array==0.1.0
bitarray==1.2.2
certifi==2020.4.5.1
chardet==3.0.4
docopt==0.6.2
DorisClient==0.1.10
elasticsearch==7.7.1
happybase==1.2.0
hdfs==2.5.8
idna==2.9
impyla==0.16.2
kafka-python==2.0.2
numpy==1.21.0
pandas==1.1.5
ply==3.11
psutil==5.8.0
pure-sasl==0.6.2
py4j==0.10.7
pyarrow==3.0.0
pypandoc==1.5
pyspark==3.2.2
python-dateutil==2.8.1
pytz==2021.1
requests==2.23.0
six==1.15.0
thrift==0.13.0
thrift-sasl==0.2.1
thriftpy==0.3.9
thriftpy2==0.4.11
urllib3==1.26.5
