bit-array==0.1.0
bitarray==1.2.2
certifi==2020.4.5.1
chardet==3.0.4
docopt==0.6.2
elasticsearch==7.7.1
happybase==1.2.0
hdfs==2.5.8
idna==2.9
impyla==0.16.2
kafka-python==2.0.2
ply==3.11
pure-sasl==0.6.2
py4j==0.10.7
pypandoc==1.5
pyspark==2.4.5
requests==2.23.0
six==1.15.0
thrift==0.13.0
thriftpy==0.3.9
thriftpy2==0.4.11
urllib3==1.25.9
